#bookList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.bookDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookDisplay svg {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    transform: scale(0.7);
}
svg text {
    scale: 0.5;
    transform: translate(50%, 50%);
    justify-content: center;
    align-items: center;

}